{% extends "auctions/layout.html" %}

{% block title %}
Edit Listing
{% endblock %}

{% block body %}
<h3 id="new-h3">Edit current page</h3>
<form enctype="multipart/form-data" action="{% url 'edit' listing.id %}" method="post">
    {% csrf_token %}
    <!-- to style form, a for loop over the fields is needed -->
    {% for field in form %}
    <div class="form-group">
        <div>{{ field.label }}</div>
        <div>{{ field }}</div>
    </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Save" name="save">
    <input class="btn btn-primary" type="submit" value="Cancel" name="cancel">
</form>
{% endblock %}